:root {
  --bg-site: rgb(18, 18, 19);
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-site);
}

body {
  margin: 0;
  padding: 0;

  font-size: clamp(1.2em, 2vw, 1.8em);

  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  text-align: center;
  border-bottom: 0.05em solid rgb(58, 58, 60);
}

h1 {
  font-size: 1em;
  color: white;
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 0.25em 0.2em;

  margin-bottom: 0.5em;
}

.key {
  cursor: pointer;

  background-color: var(--bg-key, rgb(129, 131, 132));
  color: white;

  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0.5em;

  font-size: 0.55em;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 0.2em;
  border: none;

  user-select: none;
}

.key.action {
  grid-column: span 3;
}
.key-spacer {
  grid-column: span 0.5;
}

.key.incorrect {
  cursor: default;
  --bg-key: rgb(58, 58, 60);
}
.key.misplaced {
  cursor: default;
  --bg-key: rgb(181, 159, 59);
}
.key.correct {
  cursor: default;
  --bg-key: rgb(83, 141, 78);
}

#board {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
}

.row.shake {
  animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.2em;
  height: 2.2em;
  margin: 0.1em;

  color: white;
  font-size: 1em;
  text-transform: capitalize;
  font-weight: bold;

  border: solid 0.1em var(--border-letter, rgb(58, 58, 60));
  background-color: var(--bg-letter, var(--bg-site));

  user-select: none;
}

.row.reveal .letter {
  transition: border-color 0.05s ease, background-color 0.05s ease;
  transition-delay: 0.2s;
  animation: reveal 0.5s forwards;
}
.row.reveal .letter:nth-of-type(1) {
  transition-delay: calc(0s + 0.2s);
  animation-delay: 0s;
}
.row.reveal .letter:nth-of-type(2) {
  transition-delay: calc(0.4s + 0.2s);
  animation-delay: 0.4s;
}
.row.reveal .letter:nth-of-type(3) {
  transition-delay: calc(0.8s + 0.2s);
  animation-delay: 0.8s;
}
.row.reveal .letter:nth-of-type(4) {
  transition-delay: calc(1.2s + 0.2s);
  animation-delay: 1.2s;
}
.row.reveal .letter:nth-of-type(5) {
  transition-delay: calc(1.6s + 0.2s);
  animation-delay: 1.6s;
}

.row.success .letter {
  animation: success 1s forwards;
}
.row.success .letter:nth-of-type(1) {
  animation-delay: 0s;
}
.row.success .letter:nth-of-type(2) {
  animation-delay: 0.1s;
}
.row.success .letter:nth-of-type(3) {
  animation-delay: 0.2s;
}
.row.success .letter:nth-of-type(4) {
  animation-delay: 0.3s;
}
.row.success .letter:nth-of-type(5) {
  animation-delay: 0.4s;
}

.letter.bubble {
  animation: bubble 0.15s ease-in-out;
}
.letter.active {
  --border-letter: rgb(86, 87, 88);
}
.letter.incorrect {
  --border-letter: rgb(58, 58, 60);
  --bg-letter: rgb(58, 58, 60);
}
.letter.misplaced {
  --border-letter: rgb(181, 159, 59);
  --bg-letter: rgb(181, 159, 59);
}
.letter.correct {
  --border-letter: rgb(83, 141, 78);
  --bg-letter: rgb(83, 141, 78);
}

#modal {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(58, 58, 60, 0.5);
}

#modal .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(58, 58, 60);
  color: white;
  border-radius: 0.2em;
  padding: 0.6em 1em;
}

#modal .content h2 {
  font-size: 1em;
  margin: 0 0 1em 0;
}

.replay-btn {
  padding: 0.5em 1em;
  font-size: 0.8em;
  border-radius: 0.2em;
  cursor: pointer;

  border: solid 0.1em rgb(58, 58, 60);
}

#alerts {
  z-index: 1000;
  position: absolute;
  left: 50%;
  top: 0;
  max-height: 100vh;
  overflow: hidden;
  transform: translateX(-50%);
  padding: 1em;
}

.alert {
  background-color: rgb(233, 233, 233);
  color: rgb(18, 18, 19);
  padding: 0.4em 0.8em;
  border-radius: 0.2em;
  margin: 1em;
  font-size: 0.8em;
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes reveal {
  from {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}

@keyframes success {
  0%,
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
