@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root {
  --bg: #121416;
}

html {
  background-color: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 33rem;
  height: auto;
  margin-bottom: 0.4rem;

  & > .row {
    display: flex;

    &:nth-child(2) {
      padding: 0 5%;
    }

    &:nth-child(3) {
      & > button {
        &:first-child {
          width: 20%;
        }
        &:last-child {
          width: 15%;
        }
      }
    }

    & > button {
      color: white;
      width: 10%;
      padding: 1.2rem 0.8rem;
      margin: 0.25rem;
      border-radius: 0.2rem;
      font-weight: 700;
      border: none;
      background-color: gray;

      &:not(.incorrect) {
        cursor: pointer;
      }

      &.found {
        background-color: #327732;
      }

      &.misplaced {
        background-color: #ac9e25;
      }

      &.incorrect {
        background-color: #353535;
      }
    }
  }
}

header {
  width: 100%;
  border-bottom: rgba(192, 192, 192, 0.3) solid 2px;
  text-align: center;

  & h1 {
    font-size: 2rem;
    margin: 0.6rem;
    color: white;
  }
}

#attempts {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 20rem;
  margin: auto 0;

  & > .row {
    display: flex;
    margin: 0.3rem 0;

    & > div {
      box-sizing: border-box;
      border: rgba(192, 192, 192, 0.3) solid 2px;
      color: white;
      width: 25%;
      height: 3.4rem;
      margin: 0 0.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;

      &.typed {
        border-color: rgb(138, 138, 138);
      }

      &.bubble {
        animation: bubble 0.15s ease-in-out;
      }
    }

    &.reveal > div {
      animation: reveal 0.5s forwards;
      border: rgba(192, 192, 192, 0.3) solid 2px;
      transition: background-color 0.1s ease-in-out,
        border-color 0.1s ease-in-out;

      @for $var from 0 to 5 {
        &:nth-of-type(#{$var + 1}) {
          animation-delay: 0.1s * $var;
          transition-delay: 0.1s * $var + 0.2, 0.1s * $var + 0.2;
        }
      }

      &.filled {
        background-color: gray;
        border-color: rgba(0, 0, 0, 0);
      }

      &.found {
        background-color: #327732;
      }

      &.misplaced {
        background-color: #ac9e25;
      }
    }

    &.shake {
      animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    }
  }
}

@keyframes reveal {
  from {
    transform: rotateX(0deg);
    background-color: unset;
  }
  50% {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#alert {
  z-index: 1000;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;

  & > p {
    font-size: 1.4rem;
    border-radius: 0.4rem;
    color: black;
    background-color: white;
    margin: 0.5rem 0;
    padding: 1rem 1.2rem;
  }
}

#win,
#lost {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #3535355e;

  & div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    background-color: rgb(180, 180, 180);
    padding: 2rem;
    border-radius: 1rem;

    & button {
      cursor: pointer;
      color: white;
      font-size: 2rem;
      margin-top: 2rem;
      padding: 0.2rem 0.8rem;
      border-radius: 0.2rem;
      border: none;
      background-color: gray;
    }
  }
}

#win {
  color: #327732;
}

#lost {
  color: #773232;
}
